@import "tailwindcss";
@plugin '@tailwindcss/typography';
@import "tw-animate-css";
@import "@fontsource-variable/geist-mono";
@import "@fontsource-variable/geist/wght.css";
@custom-variant dark (&:is(.dark *));
@plugin 'tailwind-scrollbar';

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.871 0.006 286.286);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.871 0.006 286.286);

  --font-sans: "Geist Variable", sans-serif;
  --font-mono: "Geist Mono Variable", monospace;

  /* notion */
  --notion-letter-spacing: -0.05rem;
  --notion-heading-letter-spacing: -0.08rem;
  --notion-page-title-letter-spacing: -0.08rem;
  --notion-text-line-height: 1.8rem;
  --notion-font-weight: 400;
  --notion-max-width: 100%;

  /* page-cover */
  --notion-page-cover-height: 40vh;

  --notion-custom-page-bg: oklch(1 0 0);
  --notion-custom-text: oklch(0.145 0 0);
  --notion-custom-border: oklch(0.922 0 0);

  --custom-notion-select-color-0: oklch(0.685 0.169 237.323);
  --custom-notion-select-color-1: oklch(0.391 0.09 240.876);
  --custom-notion-select-color-2: oklch(0.951 0.026 236.824);

  --custom-notion-red: oklch(56.62% 0.177 25.8);
  --custom-notion-pink: oklch(45.42% 0.166 344.4);
  --custom-notion-blue: oklch(47.92% 0.101 240.2);
  --custom-notion-purple: oklch(45.61% 0.146 298.6);
  --custom-notion-teal: oklch(44.51% 0.016 184.2);
  --custom-notion-yellow: oklch(72.82% 0.166 82.5);
  --custom-notion-orange: oklch(61.54% 0.176 56.2);
  --custom-notion-brown: oklch(39.73% 0.046 48.7);
  --custom-notion-gray: oklch(66.83% 0.005 70.4);

  --custom-notion-item-blue: oklch(89.47% 0.023 233.2);
  --custom-notion-item-orange: oklch(90.67% 0.041 68.61);
  --custom-notion-item-green: oklch(91.75% 0.021 144.35);
  --custom-notion-item-pink: oklch(90.9% 0.023 3.65);
  --custom-notion-item-brown: oklch(90.17% 0.018 45.42);
  --custom-notion-item-red: oklch(91.86% 0.034 23.3);
  --custom-notion-item-yellow: oklch(93.63% 0.045 83.33);
  --custom-notion-item-purple: oklch(90.03% 0.022 301.88);
  --custom-notion-item-gray: oklch(90.34% 0.001 71.43);
  --custom-notion-item-default: oklch(90.34% 0.001 71.43 / 0.5);

  --custom-notion-property-select-item-blue: oklch(0.379 0.146 265.522);

  /* notion - collection - tab - row */

  --notion-collection-tab-row-display: flex;
  --notion-collection-tab-bg: oklch(1 0 0);
  --notion-collection-tab-active-bg: var(--accent);

  /* notion-card */

  --notion-collection-card: oklch(1 0 0);
  --notion-collection-card-border: oklch(0.922 0 0);
  --notion-collection-card-border-size: 1px;
  --notion-collection-card-text: oklch(0.145 0 0);
  --notion-collection-card-hover: oklch(0.97 0 0);

  /* Card container padding */
  --notion-collection-card-padding-x: 0px;
  --notion-collection-card-padding-y: 0px;

  /* updates for notion - card */
  --notion-gallery-grid-gap: 16px;
  --notion-collection-card-title-icon-display: none;

  --notion-collection-card-cover-padding-y: 0px;
  --notion-collection-card-cover-padding-x: 0px;
  --notion-collection-card-cover-margin-x: 0px;
  --notion-collection-card-cover-margin-y: 0px;
  --notion-collection-card-cover-height: 200px;
  --notion-collection-card-cover-radius: 0.625rem;

  --notion-collection-card-body-padding-x: 12px;
  --notion-collection-card-body-padding-y: 12px;
  --notion-collection-card-body-padding-x: 12px;
  --notion-collection-card-body-padding-y: 12px;
  --notion-collection-card-body-margin-x: 0px;
  --notion-collection-card-body-margin-y: 0px;

  /* notion-button */

  --notion-default-btn-bg: oklch(0.145 0 0);
  --notion-default-btn-text: oklch(1 0 0);
  --notion-default-btn-border: oklch(0.552 0.016 285.938);
  --notion-default-btn-hover: oklch(0.145 0 0);

  /* notion  background */

  /* Background Fills */
  --custom-notion-red_background: oklch(92.48% 0.024 24.3);
  --custom-notion-pink_background: oklch(91.24% 0.025 354.5);
  --custom-notion-blue_background: oklch(92.83% 0.018 232.1);
  --custom-notion-purple_background: oklch(91.52% 0.02 294.6);
  --custom-notion-teal_background: oklch(92.81% 0.015 172.5);
  --custom-notion-yellow_background: oklch(96.11% 0.031 88.3);
  --custom-notion-orange_background: oklch(94.13% 0.025 65.5);
  --custom-notion-brown_background: oklch(91.64% 0.006 58.7);
  --custom-notion-gray_background: oklch(93.3% 0.002 241.6);

  /* size */

  --notion-page-title: 2.6em;
  --notion-page-title-align: left;
  --notion-h1: 1.875em;
  --notion-h2: 1.5em;
  --notion-h3: 1.25em;
  --base-font-size: 1em;

  /* notion -  font */

  --notion-primary-font: "Geist Variable", sans-serif;
  --notion-secondary-font: "Geist Sans", sans-serif;

  /* notion - header */

  --notion-header-bg: oklch(1 0 0);
  --notion-header-text-color: oklch(0.145 0 0);
  --notion-header-btn-bg: oklch(0.967 0.001 286.375);
  --notion-header-btn-color: oklch(0.552 0.016 285.938);
  --notion-header-height: 45px;
  --notion-header-width: 100%;

  /* notion - sidebar */

  --notion-sidebar-bg: oklch(1 0 0);
  --notion-sidebar-text-color: oklch(0.145 0 0);
  --notion-sidebar-btn-bg: oklch(0.967 0.001 286.375);
  --notion-sidebar-btn-color: oklch(0.552 0.016 285.938);
  --notion-sidebar-height: 45px;
  --notion-sidebar-width: 100%;

  /* notion - footer */

  --notion-footer-bg: oklch(1 0 0);
  --notion-footer-text-color: oklch(0.145 0 0);
  --notion-footer-btn-bg: oklch(0.967 0.001 286.375);
  --notion-footer-btn-color: oklch(0.552 0.016 285.938);
  --notion-footer-height: 45px;
  --notion-footer-width: 100%;

  /* notion text selection */

  --notion-text-selection-bg: var(--foreground);
  --notion-text-selection-color: var(--background);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.141 0.005 285.823);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.141 0.005 285.823);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.274 0.006 286.033);
  --input: oklch(0.274 0.006 286.033);
  --ring: oklch(0.442 0.017 285.786);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.274 0.006 286.033);
  --sidebar-ring: oklch(0.442 0.017 285.786);

  /* notion */

  --notion-custom-page-bg: oklch(0.145 0 0);
  --notion-custom-text: oklch(0.985 0 0);
  --notion-custom-border: oklch(1 0 0 / 10%);

  --custom-notion-select-color-0: oklch(0.685 0.169 237.323);
  --custom-notion-select-color-1: oklch(0.391 0.09 240.876);
  --custom-notion-select-color-2: oklch(0.951 0.026 236.824);

  --custom-notion-red: oklch(72% 0.14 25.8);
  --custom-notion-pink: oklch(68% 0.13 344.4);
  --custom-notion-blue: oklch(70% 0.08 240.2);
  --custom-notion-purple: oklch(68% 0.11 298.6);
  --custom-notion-teal: oklch(65% 0.02 184.2);
  --custom-notion-yellow: oklch(85% 0.13 82.5);
  --custom-notion-orange: oklch(78% 0.14 56.2);
  --custom-notion-brown: oklch(60% 0.04 48.7);
  --custom-notion-gray: oklch(75% 0.005 70.4);

  --custom-notion-item-blue: oklch(34.1% 0.031 234.3);
  --custom-notion-item-orange: oklch(34.8% 0.047 55.4);
  --custom-notion-item-green: oklch(34.6% 0.028 152.1);
  --custom-notion-item-pink: oklch(31.2% 0.043 355.2);
  --custom-notion-item-brown: oklch(32.4% 0.027 46.2);
  --custom-notion-item-red: oklch(32.1% 0.054 26.3);
  --custom-notion-item-yellow: oklch(38.2% 0.044 76.5);
  --custom-notion-item-purple: oklch(31.8% 0.046 295.5);
  --custom-notion-item-gray: oklch(33.5% 0.005 240.5);
  --custom-notion-item-default: oklch(24.5% 0.005 240.5);

  --custom-notion-property-select-item-blue: oklch(0.932 0.032 255.585);

  --custom-notion-collection-card-text: var(--foreground);

  /* notion collections tab row */
  --notion-collection-tab-bg: oklch(0.145 0 0);
  /* --notion-collection-view-tabs-content-item-bg: var(--accent); */
  --notion-collection-tab-active-bg: var(--accent);

  /* notion-card */

  --notion-collection-card: oklch(1 0 0);
  --notion-collection-card-border: oklch(0.922 0 0);
  --notion-collection-card-text: oklch(0.145 0 0);
  --notion-collection-card-hover: oklch(0.97 0 0);

  /* notion-button */

  --notion-default-btn-bg: oklch(1 0 0);
  --notion-default-btn-text: oklch(0.145 0 0);
  --notion-default-btn-border: oklch(0.552 0.016 285.938);
  --notion-default-btn-hover: oklch(1 0 0);

  /* notion  background */

  --custom-notion-red_background: oklch(32% 0.05 25.8);
  --custom-notion-pink_background: oklch(30% 0.05 344.4);
  --custom-notion-blue_background: oklch(33% 0.04 240.2);
  --custom-notion-purple_background: oklch(31% 0.04 298.6);
  --custom-notion-teal_background: oklch(32% 0.02 184.2);
  --custom-notion-yellow_background: oklch(38% 0.05 82.5);
  --custom-notion-orange_background: oklch(35% 0.05 56.2);
  --custom-notion-brown_background: oklch(30% 0.02 48.7);
  --custom-notion-gray_background: oklch(28% 0.005 70.4);

  /* notion - header */

  --notion-header-bg: oklch(0.141 0.005 285.823);
  --notion-header-text-color: oklch(0.985 0 0);
  --notion-header-btn-bg: oklch(0.967 0.001 286.375);
  --notion-header-btn-color: oklch(0.705 0.015 286.067);

  /* notion - sidebar */

  --notion-sidebar-bg: oklch(0.141 0.005 285.823);
  --notion-sidebar-text-color: oklch(0.985 0 0);
  --notion-sidebar-btn-bg: oklch(0.967 0.001 286.375);
  --notion-sidebar-btn-color: oklch(0.705 0.015 286.067);

  /* notion - footer */

  --notion-footer-bg: oklch(0.141 0.005 285.823);
  --notion-footer-text-color: oklch(0.985 0 0);
  --notion-footer-btn-bg: oklch(0.967 0.001 286.375);
  --notion-footer-btn-color: oklch(0.705 0.015 286.067);

  /* notion text selection */

  --notion-text-selection-bg: var(--foreground);
  --notion-text-selection-color: var(--background);
}

@theme inline {
  --font-sans: "Geist Variable", sans-serif;
  --font-mono: "Geist Mono Variable", monospace;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

html,
body,
#app {
  min-height: 100%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
    /* background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans); */
  }
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
