---
import "../styles/global.css";
const { content } = Astro.props;
import { Toaster } from "@/components/ui/sonner";

---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <title>{content.title}</title>
  </head>
  <body>
    <slot />
    <Toaster position={"top-center"} client:load />
  </body>
</html>
